#GaleriaFinal, #GaleriaFinal * {box-sizing:border-box,-moz-box-sizing:border-box}

#GaleriaFinal {
	padding: 9px;
	padding-right: 21px;
	width: 1070px;  /* Ancho de la galeria */
	margin-left: auto;
	margin-right: auto;
	background: #ffffff;
}

#galeria_miniaturas {
display: table;
margin: 0 auto;
}

#imgGaleria {
	border: 1px solid #000000;  /* Borde de la imagen */
	padding: 2px;
	width: 100%; /* Ancho de la imagen */
	height: 650px; /* Alto de la imagen */
	background: #000000;
}

.miniatura {
width:  60px;  /* Ancho de las miniaturas */
height:  60px;  /* Alto de las miniaturas */
float: left;
cursor: pointer;
padding: 5px;
margin: 10px 5px;
}

.miniatura:hover {
opacity:.8;   /* Opacidad */
-moz-opacity:.8;
-khtml-opacity:.8;
filter:alpha(opacity=80);
}

.miniatura:active {
opacity:1;
-moz-opacity:1;
-khtml-opacity:1;
filter:alpha(opacity=80);
}
