/*
 * Sprite Bailarines
 */

#sprite ul{
	text-decoration: none;
 	list-style-type: none;
   	text-align: center;
 	display: inline;
	
}

#sprite li a {
   float: left;
   text-shadow: 1px 1px 1px black; 
   color: #980000;
   text-decoration: none;
   display: inline;
   margin-bottom: 10px; 
   margin-left: 10px;
   font-family: Comic Sans;
   font-weight: 500;
   font-size: 25px;
   color: green;
}

#sprite li a:hover{
	color: white;
}

#sprite a{
  display: block;
  background-image: url("../Imagenes/spriteBailarines.png");
  width : 218px;
  height: 222px;
}

#ataca{
  background-position: 0 0;
}

#ataca:hover{
  background-position: -218px 0;
}

#fabian{
  background-position: 0 -222px;
}

#fabian:hover{
  background-position: -218px -222px;
}

#karen{
  background-position: 0 -444px;
}

#karen:hover{
  background-position: -218px -444px;
}

#mulato{
  background-position: 0 -666px;
}

#mulato:hover{
  background-position: -218px -666px;
}

#marcelo{
  background-position: 0 -888px;
}

#marcelo:hover{
  background-position: -218px -888px;
}

#alfredo{
  background-position: 0 -1110px;
}

#alfredo:hover{
  background-position: -218px -1110px;
}